$headerColor: #61625a;
$menuColor: #6fcb9f;
$backColor: #fffeb3;
$nameColor: #ffe28a;
$menu1Color: #666547;
$h1Color: #0d1b2a;
$h2Color: #0d1b2a;
$decoColor: #fb2e01;

$titleFont: 'Satisfy', cursive;

$textFont: 'Play', sans-serif;
$lightWeight: 400;
$normalWeight: 500;
$boldWeight: 700;

$gutter:16px;